/* styles.css */

/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: lightseagreen;
}

/* Header styles */
header {
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
  color: lightseagreen;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

/* Navigation styles */
nav {
  background-color: #eee;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }

  header p {
    font-size: 16px;
  }
}

/* CSS code */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #f8f8f8;
}

.hero-image {
  background-image: url("images/download.jpg");
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightseagreen;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000;
}

/* Adjust the image size and styles as needed */
